/Makefile
/config.h
/config.log
/config.status
/docs/Makefile
/docs/design/Makefile
/docs/papers/Makefile
/docs/reference/Makefile
/docs/reference/thunarx/Makefile
/docs/reference/thunarx/version.xml
/examples/Makefile
/examples/tex-open-terminal/.deps/
/examples/tex-open-terminal/Makefile
/icons/128x128/Makefile
/icons/16x16/Makefile
/icons/24x24/Makefile
/icons/48x48/Makefile
/icons/Makefile
/icons/scalable/Makefile
/libtool
/plugins/Makefile
/plugins/thunar-apr/.deps/
/plugins/thunar-apr/Makefile
/plugins/thunar-sbr/.deps/
/plugins/thunar-sbr/Makefile
/plugins/thunar-sendto-email/.deps/
/plugins/thunar-sendto-email/Makefile
/plugins/thunar-tpa/.deps/
/plugins/thunar-tpa/Makefile
/plugins/thunar-uca/.deps/
/plugins/thunar-uca/Makefile
/plugins/thunar-wallpaper/.deps/
/plugins/thunar-wallpaper/Makefile
/po/Makefile
/po/Makefile.in
/po/POTFILES
/po/stamp-it
/stamp-h1
/thunar/.deps/
/thunar/Makefile
/thunarx/.deps/
/thunarx/Makefile
/thunarx/thunarx-3.pc
